* {
    font-family: "ＭＳ Ｐゴシック", serif;
    font-family: ms gothic, courier;
    
    letter-spacing: 1.3px;

    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    cursor: url('assets/hydrangeaheartsani.gif'), auto;
}

body {
    color: white;
    background-image: url('assets/moonplanets.png');
}

.container {
    width: 800px;
    margin: 0 auto;
}

.header {
    height: 130px;
}

.navigation {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navigation_button {
    display: inline-block; 

    margin-top: 10px;
    text-align: center;

    width: 150px;
    height: 30px;

    color: white;
    font-weight: bolder;

    border-radius: 5px;
    padding-top: 10px;
}

.navigation_button:hover {
    box-shadow: 2px 2px 1px 1px white;
}

.navigation_link {
    text-decoration: none;
}

.window {
    margin-top: 15px;
}

.window_title {
    margin-top: 0px;
    color: white;
    
    border-radius: 5px 5px 0px 0px;
    padding: 5px 5px 5px 0px;
    font-weight: bolder;

    background-color: rgb(210, 106, 255);

    display: flex;
}

.window_title_name {
    margin: 0 auto;
}

.window_title_actions {
    float: right
}

.window_body {
    margin-top: 0px;

    color: blueviolet;

    border-style: solid;
    border-color: rgb(210, 106, 255);
    
    background-image: url('assets/rbowcolorsmusicnotes.gif');
    border-radius: 0px 0px 5px 5px;

    padding-left: 10px;
    padding-right: 10px;
}

.content_container_wrapper {
    display: flex;
}

.content_container_half {
    width: 350px;
    background-color: white;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 106, 255);
    border-radius: 5px;

    padding: 10px;
    margin: 10px;
}

.content_container_full {
    margin: 10px;
    background-color: white;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 106, 255);
    border-radius: 5px;

    padding: 10px;
}

.content_header {
    font-size: 15px;
    padding-top: 0px;
    margin: 0;
}

.footer {
    margin-top: 10px;

    border: solid;
    border-color: black;
}