* {
    font-family: "ＭＳ Ｐゴシック", serif;
    letter-spacing: 1.5px;

    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    cursor: url('assets/hydrangeaheartsani.gif'), auto;
}

body {
    color: white;
    background-image: url('assets/moonplanets.png');
}

.container {
    width: 800px;
    margin: 0 auto;
}

.header {
    height: 130px;
}

.navigation {
    margin-top: 5px;
}

.navigation_button {
    width: 150px;
    color: white;

    font-weight: bolder;
    background-color: deeppink;

    padding-top: 2px;
    padding-bottom: 2px;

    border-width: 4px;
    border-radius: 5px;
    border-style: ridge;
    border-color: aqua;
}

.window {
    margin-top: 15px;
}

.window_title {
    margin-top: 0px;
    color: white;
    
    border-radius: 5px 5px 0px 0px;
    padding: 5px 5px 5px 0px;
    font-weight: bolder;

    background-color: rgb(210, 106, 255);

    display: flex;
}

.window_title_name {
    margin: 0 auto;
}

.window_title_actions {
    float: right
}

.window_body {
    margin-top: 0px;

    color: blueviolet;

    border-style: solid;
    border-color: rgb(210, 106, 255);
    
    background-image: url('assets/rbowcolorsmusicnotes.gif');
    border-radius: 0px 0px 5px 5px;

    padding-left: 10px;
    padding-right: 10px;
}

.content_container_wrapper {
    display: flex;
}

.content_container_half {
    width: 350px;
    background-color: white;

    border-style: solid;
    border-color: rgb(210, 106, 255);
    border-radius: 5px;

    padding: 10px;
    margin: 10px;
}

.content_container_full {
    margin: 10px;
    background-color: white;

    border-style: solid;
    border-color: rgb(210, 106, 255);
    border-radius: 5px;

    padding: 10px;
}

.footer {
    margin-top: 10px;

    border: solid;
    border-color: black;
}