#tamagotchi_pet {
    position: absolute;

    width: 160px;
    height: 200px;
}

.tamagotchi_header {
    height: 20px;

    border-style: solid;
    border-color: rgb(210, 106, 255);
    border-radius: 5px 5px 0px 0px;

    background-color: rgb(210, 106, 255);
}

.tamagotchi_content {
    height: 180px;

    border-style: solid;
    border-color: rgb(210, 106, 255);
    border-radius: 0px 0px 5px 5px;

    background-color: white;
}